<!DOCTYPE html> {% load staticfiles %}
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Shift | Experience a different world through exchaning shifts</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://ironsummitmedia.github.io/startbootstrap-2-col-portfolio/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="https://ironsummitmedia.github.io/startbootstrap-2-col-portfolio/css/2-col-portfolio.css" rel="stylesheet">
    <link href="http://nom3.uk/css/elements.css" rel="stylesheet">
    <link href="http://foodcampus.ch/static/css/center.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Modal -->
    {% for experience in experience %}
    <div class="modal fade" id="{{ experience.experience_id }}-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{ experience.name }}</h4>-->
             <form role="form" name="orderform" method="post" class="form-inline post-form form-group text-left">{% csrf_token %}
          <div class="modal-body">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="menu-{{ delivery.batch_key }}">
                                    <div class="modal-body">
                                        <p class="white-text" style="font-size: 40px; font-weight: bold; color: #ffffff;"><b>{{ experience.subtitle }}</b></p>
                                        <div class="text-center">
                                            {% for item in delivery.restaurant_name.item_set.all %}
                                            <button type="button" class="btn btn-default btn-menus" onClick="choose('{{ item }}'); buttonA_clickHandler(event)" href="#drink-{{ delivery.batch_key }}" aria-controls="drink-{{ delivery.batch_key }}" role="tab" data-toggle="tab"><img src="{{ item.photo }}" width="50%"><h3>{{ item }} <small>{{ item.price }} chf</small></h3></button>
                                            {% endfor %}
                                        </div>
                                        <a href="#infos-{{ experience.experience_id }}" role="tab" data-toggle="tab" class="save btn btn-default btn-lg"><i class="fa fa-arrow-left"></i> Apply now</a>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade text-left" id="infos-{{ experience.experience_id }}">
                                    <p class="white-text" style="font-size: 30px; font-weight: bold; color: #ffffff;"><b>Enter your details:</b></p>
                                    <div class="form-group">
                                        <div class="white-text" style="font-size: 20px; font-weight: bold; color: #ffffff;">First name</div>
                                        <input class="form-control" id="name-{{ delivery.batch_key }}" maxlength="30" name="name" placeholder="First name" title="This field is required." type="text" stlye="width: 500px;"><br><br>

                                        <div class="white-text" style="font-size: 20px; font-weight: bold; color: #ffffff;">Last name</div>
                                        <input class="form-control" id="last_name-{{ delivery.batch_key }}" maxlength="30" name="last_name" placeholder="Last name" title="This field is required." type="text"><br><br>

                                        <div class="white-text" style="font-size: 20px; font-weight: bold; color: #ffffff;">Phone number</div>
                                        <input class="form-control" id="number-{{ delivery.batch_key }}" maxlength="15" name="number" placeholder="Number" title="This field is required." type="text"><br><br>

                                        <div class="white-text" style="font-size: 20px; font-weight: bold; color: #ffffff;">Email</div>
                                        <input class="form-control" id="email-{{ delivery.batch_key }}" maxlength="75" name="email" placeholder="Email" title="This field is required." type="email"><br><br>
                                    </div>
                                    <br>
                                    <div>
                                        <button type="submit" class="save btn btn-default btn-lg" for="submit-form" onclick="document.orderform.submit();"><i class="fa fa-money"></i> Submit</button>
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                            </div>
                            </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {% endfor %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Experiences
                    <small>in London</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

<div class="modal fade" id="asdf" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-header text-center">
                                <img src="{% static 'images/amigo-taco-logo.png' %}" class="img-responsive"><br>
                            </div>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="menu-{{ delivery.batch_key }}">
                                    <div class="modal-body">
                                        <p class="white-text"><b>Select your menu:</b></p>
                                        <div class="text-center">
                                            {% for item in delivery.restaurant_name.item_set.all %}
                                            <button type="button" class="btn btn-default btn-menus" onClick="choose('{{ item }}'); buttonA_clickHandler(event)" href="#drink-{{ delivery.batch_key }}" aria-controls="drink-{{ delivery.batch_key }}" role="tab" data-toggle="tab"><img src="{{ item.photo }}" width="50%"><h3>{{ item }} <small>{{ item.price }} chf</small></h3></button>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade text-left" id="drink-{{ delivery.batch_key }}">
                                    <p class="white-text"><b>Select your drink (included with the menu):</b></p>
                                    <div class="text-center">
                                        {% for item in delivery.restaurant_name.drink_set.all %}
                                        <button type="button" class="btn btn-default btn-menus" onClick="beverage('{{ item }}'); buttonB_clickHandler(event)" href="#infos-{{ delivery.batch_key }}" aria-controls="infos-{{ delivery.batch_key }}" role="tab" data-toggle="tab"><img src="{{ item.photo }}"><h3>{{ item }}</h3></button>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade text-left" id="infos-{{ delivery.batch_key }}">
                                    <p class="white-text"><b>Enter your details:</b></p>
                                    <div class="form-group">
                                        <div class="white-text">First name</div>
                                        <label class="sr-only" for="id_name">First name</label>
                                        <input class="form-control" id="name-{{ delivery.batch_key }}" maxlength="30" name="name" placeholder="First name" title="This field is required." type="text">

                                        <div class="white-text">Last name</div>
                                        <label class="sr-only" for="id_last_name">Last name</label>
                                        <input class="form-control" id="last_name-{{ delivery.batch_key }}" maxlength="30" name="last_name" placeholder="Last name" title="This field is required." type="text">

                                        <div class="white-text">Phone number</div>
                                        <label class="sr-only" for="number">Number</label>
                                        <input class="form-control" id="number-{{ delivery.batch_key }}" maxlength="15" name="number" placeholder="Number" title="This field is required." type="text">

                                        <div class="white-text">Email</div>
                                        <label class="sr-only" for="email">Email</label>
                                        <input class="form-control" id="email-{{ delivery.batch_key }}" maxlength="75" name="email" placeholder="Email" title="This field is required." type="email">
                                    </div>
                                    <div>
                                        <!-- Card -->
                                        <button id="card-{{ delivery.batch_key }}" class="btn btn-default btn-lg"><i class="fa fa-credit-card"></i> Pay by card</button>
                                        <!--<button id="bitcoin" class="btn btn-default btn-lg"><i class="fa fa-btc"></i> Pay by bitcoin</button>-->
                                        <button type="submit" class="save btn btn-default btn-lg" for="submit-form" onclick="document.orderform.submit();"><i class="fa fa-money"></i> Pay by Cash</button>
                                        <br><br>
                                        <a href="#menu-{{ delivery.batch_key }}" aria-controls="menu-{{ delivery.batch_key }}" role="tab" data-toggle="tab"><i class="fa fa-arrow-left"></i> Return to menu</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

        <!-- Projects Row -->
<link rel="stylesheet" href="http://nom3.uk/css/elements.css" type="text/css">
    <link href="http://foodcampus.ch/static/css/center.css">
<section id="featured" class="hacks section featured sectioncontent col-16 sectioncontent">
    {% for experience in experience %}
    <div class="col-8-lg col-8-md col-16-sm">
        <a data-toggle="modal" href="#{{ experience.experience_id }}-modal">
            <div class="featurecontent feature" style="background-image: url({{ experience.photo }})">
                <div class="featuretitle">{{ experience.subtitle }}</div>
                <div class="featurecredit"><span class="byline">at</span> <span class="author">{{ experience.name }}</span></div>
            </div>
        </a>
    </div>
    {% endfor %}
</section>

        </div>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="https://ironsummitmedia.github.io/startbootstrap-2-col-portfolio/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://ironsummitmedia.github.io/startbootstrap-2-col-portfolio/js/bootstrap.min.js"></script>

</body>

</html>
